<%- include("header", {title: title}); %>

<body>
    <div id = "imageOverlay" class = "overlay" onclick="closePreview()"></div>

    <div class = "wrapper">
        <%- include("nav"); %>
        <div class="main" role="main" id = "main">
            <div class = "content overview">
                <picture class = "hero-image">
                    <source media="(max-width: 900px)" srcset="/images/index/hero.png?w=1000">
                    <img class = "gallery-image" src="/images/index/hero.png?w=2000" alt="Hero image" />
                    <div class = "loading-overlay"></div>
                </picture>
                <div class = "gallery-container">
                    <% if (images && images.length > 0) { %>
                        <% images.forEach(function(image) { %>
                            <picture class="<%= image.cssClass %>">
                                <source media="(max-width: 900px)" srcset="<%= image.path %>?w=650">
                                <source media="(min-width: 3000px)" srcset="<%= image.path %>?w=800">
                                <source media="(min-width: 901px) and (max-width: 2999px)" srcset="<%= image.path %>?w=480">
                                <img loading="lazy" class="gallery-image" src="<%= image.path %>?w=650" alt="<%= image.name %>" onclick="openPreview('<%= image.path %>?w=1000')" />
                                <div class="loading-overlay"></div>
                            </picture>
                        <% }); %>
                    <% } else { %>
                        <p>No images found in the gallery folder.</p>
                    <% } %>
                </div>
            </div>
        </div>

        <%- include("footer"); %>
    </div>
</body>

</html>